<div ng-include="'modules/menu/views/menu.html'"></div>

<header id="fh5co-header" role="banner">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="" class="fh5co-menu-btn js-fh5co-menu-btn">Menu
          <i class="icon-menu"></i>
        </a>
        <a class="navbar-brand" href="">Image</a>
      </div>
    </div>
  </div>

</header>
<!-- END .header -->

<div id="fh5co-main" ng-controller="hotelImageController">
  <div class="container" ng-init="getHotelImages()">

    <div class="row text-center">
      <a href="#!/" class="btn btn-primary">
        New&nbsp;Image
      </a>
    </div>

    <div class="row">
      <div class="col-md-3" ng-repeat="hotelImage in hotelImages">

        <div id="fh5co-board" data-columns>
          <div class="item" style="height:300px">
            <div class="animate-box">
              <div class="row">
                <div class="col-md-3">
                  <button class="btn btn-block btn-danger" type="button" style="position: absolute">
                    X
                  </button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-block btn-warning" type="button" style="position: absolute">
                    X
                  </button>
                </div>
              </div>
              <a href="#!/about/2/{{ hotelImage.id }}" class="image-popup fh5co-board-img" title="{{ hotelImage.detail }}">
                <img style="height:150px" src="{{ hotelImage.image_src_url }}" alt="Free HTML5 Bootstrap template" width="100%">
              </a>
              <div class="fh5co-desc">{{ hotelImage.detail }}.</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Magnific Popup -->
<script src="../../../js/jquery.magnific-popup.min.js"></script>